


.btn{
    border-radius: 30px;
    
}

.container-fluid{
    
}
.para{
    margin-top: 100px;
}
@media only screen and 
(min-width: 574px) {
    .btn{
        background-color: yellow;
    }
} 
    
